/ {
    combos {
        compatible = "zmk,combos";
        fdl {
            timeout-ms = <75>;
            key-positions = <LH0 RH0>;
            layers = <0>;
            bindings = <&kp DEL>;
        };
        skc {
            timeout-ms = <75>;
            key-positions = <LH1 RH1>;
            layers = <0>;
            bindings = <&skh LSHFT 0>;
            slow-release;
        };
        mtog {
            timeout-ms = <75>;
            key-positions = <LH2 RH2>;
            bindings = <&bth BT_NXT 1>;
        };
    };
};
