/ {
    combos {
        compatible = "zmk,combos";
        combo_dot {
            timeout-ms = <75>;
            key-positions = <LH0 RH0>;
            layers = <0>;
            bindings = <&caps_word>;
        };
    };
};
