/ {
    combos {
        compatible = "zmk,combos";
        T0 {
            timeout-ms = <75>;
            key-positions = <LH0 RH0>;
            layers = <0>;
            bindings = <&kp DEL>;
        };
        T1 {
            timeout-ms = <75>;
            key-positions = <LH1 RH1>;
            layers = <0>;
            bindings = <&kp RS(RG(N0))>;
            slow-release;
        };
        T2 {
            timeout-ms = <75>;
            key-positions = <LH2 RH2>;
            bindings = <&tog 6>;
        };
    };
};
