/ {
    macros {
        mbt: momentary_bluetooth {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_press &bt BT_NXT>
                    , <&macro_pause_for_release>
                    , <&macro_release &bt BT_NXT>
                    ;
            };

    };
};
