/ {
    macros {
        dss: dot_space_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &kp DOT
                &kp SPACE
                &sk LSHFT
            >;
        };
    };
};
