/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define L_NAV 1
#define R_NAV 2
#define L_NUM 3
#define R_SYM 4
#define MOUSE 5

/ {
        behaviors {
                };
        };
        keymap {
                compatible = "zmk,keymap";

                layer_0 {
// -----------------------------------------------------------------------------------------
// | ESC |  Q  |  W  |  F   |  P    |  B  |   |  J  |   L   |   U  |  Y  |  '  | ;   |
// | TAB |  A  |  R  |  S   |  T    |  G  |   |  M  |   N   |   E  |  I  |  O  | -   |
// | RET |  Z  |  X  |  C   |  D    |  V  |   |  K  |   H   |   ,  |  .  |  /  | RET |
//                   | BSPC | SPACE | RPT |   | RPT | SPACE | BSPC |
                        display-name = "BASE";
                        bindings = <
   &kp ESC  &kp Q        &kp W       &kp F       &kp P        &kp B    &kp J   &kp L         &kp U          &kp Y        &kp SQT        &kp SEMI
   &kp TAB  &mt LCTRL A  &mt LALT R  &mt LGUI S  &mt LSHFT T  &kp G    &kp M   &mt RSHFT N   &mt RGUI E     &mt RALT I   &mt RCTRL O    &kp MINUS
   &kp RET  &kp Z        &kp X       &kp C       &kp D        &kp V    &kp K   &kp H         &kp COMMA      &kp DOT      &kp FSLH       &kp RET
                            &kp BSPC &kp SPACE &kp SPACE  &kp SPACE &kp SPACE &kp BSPC
                        >;
                };
                layer_1 {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        display-name = "L_NAV";
                        bindings = <
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans  &trans &trans &trans
                        >;
                };
                layer_2 {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        display-name = "R_NAV";
                        bindings = <
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans  &trans &trans &trans
                        >;
                };
                layer_3 {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        display-name = "L_NUM";
                        bindings = <
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans  &trans &trans &trans
                        >;
                };
                layer_4 {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        display-name = "R_SYM";
                        bindings = <
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans  &trans &trans &trans
                        >;
                };
                layer_5 {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        display-name = "MOUSE";
                        bindings = <
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans  &trans &trans &trans
                        >;
                };
        };
};
