/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// System files
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Custom files
#include "c-matrix.dtsi"
#include "c-behaviors.dtsi"
#include "c-macros.dtsi"
#include "c-combos.dtsi"
#include "c-mouse.dtsi"

// Modifier combinations
#define LH       LC(LA(LG(LSHFT)))
#define RH       RC(RA(RG(RSHFT)))
#define RCA(key) RC(RA(key))
#define RSG(key) RS(LG(key))
#define LSG(key) LS(LG(key))
#define LSC(key) LS(LC(key))

// Layer defines
#define BASE 0
#define LMSE 1
#define RMSE 2
#define LNUM 3
#define RNUM 4
#define NAV  5

/ {
    keymap {
        compatible = "zmk,keymap";
        layer_0 {
            display-name = "BASE";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &kp ESC                  &kp Q                    &kp W                    &kp F                    &kp P                    &kp B                       &kp J                    &kp L                    &kp U                    &kp Y                    &ht SEMI SQT             &ht COLON MINUS
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &ht LH TAB               &kp A                    &kp R                    &kp S                    &kp T                    &kp G                       &kp M                    &kp N                    &kp E                    &kp I                    &kp O                    &caps RH 0
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &kp RET                  &hml LCTRL Z             &hml LALT X              &hml LGUI C              &hmls LSHFT D            &kp V                       &kp K                    &hmrs RSHFT H            &hmr RGUI COMMA          &hmr RALT DOT            &hmr RCTRL FSLH          &kp RET
            //╰────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╯
                                                                                           &ltr LMSE 0              &lt LNUM SPACE           &lt NAV BSPC                &lt NAV BSPC             &lt RNUM SPACE           &ltr RMSE 0
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_1 {
            display-name = "MOUSE";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &trans                   &ht LSG(Z) LG(Z)         &ht LSG(X) LG(X)         &ht LSG(C) LG(C)         &ht LSG(V) LG(V)         &trans                      &btc BT_CLR 0            &kp C_BRI_DN             &kp C_BRI_UP             &kp C_VOL_DN             &kp C_VOL_UP             &kp C_POWER
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   MML                      MMD                      MMU                      MMR                      &trans                      &trans                   MSR                      MSU                      MSD                      MSL                      &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //╰────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_2 {
            display-name = "MOUSE";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //╰────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_3 {
            display-name = "NUM";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //╰────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_4 {
            display-name = "NUM";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //╰────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_5 {
            display-name = "NAV";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //╰────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┤  ├────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
    };
};
