/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// System files
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Custom files
#include "c-matrix.dtsi"
#include "c-behaviors.dtsi"
#include "c-macros.dtsi"
#include "c-combos.dtsi"
#include "c-mouse.dtsi"

// Modifier combinations
#define LH       LC(LA(LG(LSHFT)))
#define RH       RC(RA(RG(RSHFT)))
#define RCA(key) RC(RA(key))
#define RAG(key) RA(RG(key))
#define RSA(key) RS(RA(key))
#define RSG(key) RS(RG(key))
#define LSG(key) LS(LG(key))
#define LSC(key) LS(LC(key))

// Layer defines
#define BASE 0
#define NAV  1
#define LMSE 2
#define RMSE 3
#define NUM  4
#define SYS  5

/ {
    keymap {
        compatible = "zmk,keymap";
        layer_0 {
            display-name = "BASE";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &kp ESC                  &kp W                    &kp L                    &kp Y                    &kp P                    &kp B                       &kp Z                    &kp F                    &kp O                    &kp U                    &ht SEMI SQT             &ht COLON MINUS
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &ht RH TAB               &kp C                    &kp R                    &kp S                    &kp T                    &kp G                       &kp M                    &kp N                    &kp E                    &kp I                    &kp A                    &htc RH 0
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &ht LS(RET) RET          &hml LCTRL Q             &hml LALT J              &hml LGUI V              &hml LSHFT D             &kp K                       &kp X                    &hmr RSHFT H             &hmr RGUI FSLH           &hmr RALT COMMA          &hmr RCTRL DOT           &ht RS(RET) RET
            //╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┴────────────────────────╯
                                                                                           &ltr NAV 0               &lt LMSE SPACE           &lt NUM BSPC                &lt NUM BSPC             &lt RMSE SPACE           &ltr NAV 0
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_1 {
            display-name = "NAV";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &trans                   &ht LSG(Z) LG(Z)         &ht LSG(X) LG(X)         &ht LSG(C) LG(C)         &ht LSG(V) LG(V)         &ht LG(I) LG(B)             &trans                   &kp RG(BSPC)             &kp RA(BSPC)             &kp RA(DEL)              &kp RG(DEL)              &trans
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   &kp LEFT                 &kp DOWN                 &kp UP                   &kp RIGHT                &trans                      &trans                   &kp LEFT                 &kp DOWN                 &kp UP                   &kp RIGHT                &trans
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   &ht LCTRL LG(LEFT)       &ht LALT LA(LEFT)        &ht LGUI LA(RIGHT)       &ht LSHFT LG(RIGHT)      &trans                      &trans                   &ht RSHFT RSG(LEFT)      &ht RGUI RSA(LEFT)       &ht RALT RSA(RIGHT)      &ht RCTRL RSG(RIGHT)     &trans
            //╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┴────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_2 {
            display-name = "MOUSE";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &lt SYS ESC              &ht LSG(Z) LG(Z)         &ht LSG(X) LG(X)         &ht LSG(C) LG(C)         &ht LSG(V) LG(V)         &ht LG(I) LG(B)             &ht RAG(ESC) RG(Q)       &ht RSG(W) RG(W)         &ht RSG(T) RG(T)         &ht RSG(R) RG(R)         &kp RC(RG(F))            &lt SYS ESC
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   MML                      MMD                      MMU                      MMR                      &trans                      &trans                   &mht SCRL_RIGHT LEFT     &mht SCRL_UP DOWN        &mht SCRL_DOWN UP        &mht SCRL_LEFT RIGHT     &trans
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   &ht LCTRL LSC(TAB)       &ht LALT LG(LBKT)        &ht LGUI LG(RBKT)        &ht LSHFT LC(TAB)        &trans                      &trans                   &ht RSHFT RC(LEFT)       &ht RGUI RC(DOWN)        &ht RALT RC(UP)          &ht RCTRL RC(RIGHT)      &trans
            //╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┴────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &mkp LCLK                &mlt NAV RCLK
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_3 {
            display-name = "MOUSE";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &lt SYS ESC              &ht LSG(Z) LG(Z)         &ht LSG(X) LG(X)         &ht LSG(C) LG(C)         &ht LSG(V) LG(V)         &ht LG(I) LG(B)             &ht RAG(ESC) RG(Q)       &ht RSG(W) RG(W)         &ht RSG(T) RG(T)         &ht RSG(R) RG(R)         &kp RC(RG(F))            &lt SYS ESC
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   MML                      MMD                      MMU                      MMR                      &trans                      &trans                   &mht SCRL_RIGHT LEFT     &mht SCRL_UP DOWN        &mht SCRL_DOWN UP        &mht SCRL_LEFT RIGHT     &trans
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   &ht LCTRL LSC(TAB)       &ht LALT LG(LBKT)        &ht LGUI LG(RBKT)        &ht LSHFT LC(TAB)        &trans                      &trans                   &ht RSHFT RC(LEFT)       &ht RGUI RC(DOWN)        &ht RALT RC(UP)          &ht RCTRL RC(RIGHT)      &trans
            //╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┴────────────────────────╯
                                                                                           &mlt NAV RCLK            &mkp LCLK                &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_4 {
            display-name = "NUM";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &trans                   &kp N7                   &kp N8                   &kp N9                   &kp N0                   &kp PRCNT                   &kp LBRC                 &kp RBRC                 &kp GRAVE                &kp ASTRK                &kp AMPS                 &kp BSLH
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &hsl SYS SYS             &kp N4                   &kp N5                   &kp N6                   &kp LPAR                 &kp RPAR                    &kp LBKT                 &kp RBKT                 &kp CARET                &kp PRCNT                &kp DLLR                 &trans
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   &ht LCTRL N1             &ht LALT N2              &ht LGUI N3              &ht LSHFT DOT            &kp COMMA                   &kp LT                   &ht RSHFT GT             &ht RGUI HASH            &ht RALT AT              &ht RCTRL EXCL           &trans
            //╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┴────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
        layer_5 {
            display-name = "SYS";
            bindings = <
            //╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮  ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
                &trans                   &kp C_BRI_DN             &kp C_BRI_UP             &kp C_POWER              &trans                   &btc BT_CLR                 &trans                   &trans                   &kp C_MUTE               &kp C_VOL_DN             &kp C_VOL_UP             &trans
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   &kp FSLH                 &kp ASTRK                &kp MINUS                &kp PLUS                 &kp EQUAL                   &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
                &trans                   &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans                   &trans
            //╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤  ┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┴────────────────────────╯
                                                                                           &trans                   &trans                   &trans                      &trans                   &trans                   &trans
            //                                                                           ╰────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
    };
};
